<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <ion-toast *ngIf="showToast" [message]="toastMessage" [duration]="2000" [color]="toastColor"
    (didDismiss)="showToast = false">
  </ion-toast>

  <div class="container top">
    <div class="header">
      <img src="/assets/img/logo_com_nome.png">
      <ion-segment [(ngModel)]="selectedSegment">
        <ion-segment-button mode="ios" value="login" (click)="updateSwiperContent(1)">
          <ion-label>LOGIN</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" value="cadastro" (click)="updateSwiperContent(2)">
          <ion-label>SING UP</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="conteiner-forms">
      <div *ngIf="selectedSegment === 'login'">
        <h1>Login</h1>
        <form [formGroup]="loginForm">
          <ion-item class="input-form">
            <ion-input label="E-mail:" label-placement="floating" type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item class="input-form">
            <ion-input label="Senha:" label-placement="floating" type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-button class="btn-submit" shape="round" expand="block" (click)="fazerLogin()">Entrar</ion-button>
        </form>
      </div>

      <div *ngIf="selectedSegment === 'cadastro'">
        <h1>Sing Up</h1>
        <form [formGroup]="registerForm">
          <ion-item class="input-form">
            <ion-input label="Nome:" label-placement="floating" type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item class="input-form">
            <ion-input label="E-mail:" label-placement="floating" type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item class="input-form">
            <ion-input label="Senha:" label-placement="floating" type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item class="input-form">
            <ion-input label="Confirmar Senha:" label-placement="floating" type="password"
              formControlName="confirmPassword"></ion-input>
          </ion-item>
          <ion-button class="btn-submit" shape="round" expand="block" (click)="fazerCadastro()">Cadastrar</ion-button>
        </form>
      </div>

      <div class="divider-line">
        <span class="divider-text">ou continue com</span>
        <ion-icon slot="start" name="logo-google"></ion-icon>
        <ion-button class="sing-with-google" expand="block" (click)="loginComGoogle()">
          <ion-icon slot="start" name="logo-google"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>