<ion-footer>
  <ion-segment value="heart" mode="ios">
    <ion-segment-button value="historico">
      <ion-label>HISTORICO</ion-label>
      <ion-icon name="time"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="home">
      <ion-label>HOME</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pontuacao">
      <ion-label>PONTUAÇÃO</ion-label>
      <ion-icon name="trophy-sharp"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>